a {
    text-decoration: none;
}

p {
    display: block;
    margin: 0 0 9px;
}

.container {
    margin-top: 1em;
    padding: 1em;
    border-bottom: 1px solid #eeeeee;
}

.title {
    font-size: 20px;
    line-height: 27px;
}

.extra {
    margin-top: 0.5em;
    color: #999999;
    font-size: 0.9em;
    line-height: 1.5em;
}

.extra b {
    font-size: 1.1em;
}

.linkOuter {
    margin-top: 0.8em;
    margin-left: 0.2em;
    color: rgb(56, 166, 203);
    display: flex;
}


.linkOuter a{
    color: rgb(56, 166, 203);
}

.actionDetail {
    color: rgb(56, 166, 203);
    margin-bottom: 5px;
    margin-left: 0.2em;
}

.actionDetail:hover {
    cursor: pointer;
}

.actionModal {
    width: 90% !important;
    max-width: 1200px;
}
